.DS_Store

target
reports
build/
launch4j/
bin/
.gradle
.project
.classpath
*sonar*.properties
.sonar
.settings
*.class
/nbproject/private/
.externalToolBuilders
*.orig

# Temp files
*~
#*#

# OS specific
Thumbs.db
*.exe
