<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="shortcut icon" href="/logisim.ico" />
<link rel="stylesheet" href="/style.css" type="text/css" />
<meta name="description" content="An open-source graphical tool for designing and simulating logic circuits">
<meta name="keywords" content="digital,logic,circuit,simulator,freeware,java">
<title>Logisim : <%= @item[:title] %></title>
</head>

<body>
<a href="https://github.com/lawrancej/logisim"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
<table><tr><td valign="top">
	<div class="header">
	<div class="headerimg">
	<a href="/"><img width="227" height="137" border="0"
	src="/header.png"
	alt="Logisim: a graphical tool for designing and simulating logic circuits" /></a>
	</div>
	
	<div class="links">
	<p><a href="/download">Download</a></p>
	<p><a href="/docs">Documentation</a></p>
	<p><a href="/history">Release History</a></p>
	<p><a href="/qanda">Q &amp; A</a></p>
	<p><a href="/comments">Comments</a></p>
	<p><a href="/links">Links</a></p>
	</div>
		
	<!-- language menu -->

	</div>
&nbsp;</td><td>

<%= yield %>

</td></tr></table>
</body></html>
